# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# VSCode
.vscode/

# dotenv
.env

# TwitchDownloaderCLI 実行バイナリを除外
backend/TwitchDownloaderCLI

# Twitch CLI バイナリとチャットデータを除外
backend/TwitchDownloaderCLI
backend/chat_data/
backend/node_modules/

# Byte-compiled / cache
__pycache__/
*.pyc
